h1, h4{
    font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #ffffff;
}
.header{
  width: 100%;
  height: 1375px;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% auto;
}
.bg_img{
  width: 1000px;
  height: inherit;
  margin: 0px auto;
}
.logo img{
  float: left;
  width: 160px;
  height: 90px;
}
.topnav{
  margin-top: 20px;
  height: 20px;
  float: right;
}
.topnav ul{
  font-size: 80px;
}
.topnav ul li{
  float: left;
  margin-left: 20px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: #003568;
}
.topnav ul li a{
  text-decoration: none;
  color: #042f3a;
}
.nav_icons a{
  float: right;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.quotes{
  width: 960px;
  padding-top: 500px;
}
.quotes h1{
  font-size: 80px;
  color: #042f3a;
  font-family: 'Montserrat', sans-serif;
}
.quotes h1 span{
  color: #E32636;
}
.quotes h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #003568;
  padding-top: 25px;
  padding-bottom: 40px;
}
.btn{
  border: 2px solid #fe0002;
  border-radius: 5px;
  transition-duration: 0.4s;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 230px;
  height: 80px;
  cursor: pointer;
  font-size: 20px;
  font-weight:  bold;
  color: #FFFFFF;
  background-color: #E32636;
  margin: auto;
}
.snippets{
  margin: 80px auto;
  width: 960px;
  height: 178px;
}
.snip1{
  float: left;
  width: 33.33%;
  height: inherit;
}
.snip1 h1{
  font-size: 35px;
  color: #003568;
}
.snip1 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  color: #C8C8C8;
  padding: 0px 5px;
}
span{
  color: #8B0000;
}
.snippets button {
  font-family: 'Montserrat', sans-serif;
  color: #cc0000;
  font-size: 15px;
  background: transparent;
  margin-top: 30px;
  border: 0px solid;
}
button:hover{
  cursor: pointer;
}
.portfolio{
  width: 960px;
  height: 350px;
  background-repeat: no-repeat;
  margin: 100px auto;
}
.port1{
  width: 50%;
  margin-left: 500px;
}
.port1 h1{
  font-size: 50px;
  color: #003568;
  float: left;
  margin-right: 50px;
  padding-top: 50px;
}
.port1 h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #003568;
  float: left;
  padding-top: 10px;
}
.port1 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #A0A0A0;
  line-height: 30px;
  float: left;
  padding-top: 40px;
}
.portfolio button{
    font-family: 'Montserrat', sans-serif;
    color: #cc0000;
    font-size: 15px;
    border: 0px solid;
    background: transparent;
    float: left;
    padding-top: 30px;
}
.team{
  width: 960px;
  height: 275px;
  margin: 0px auto;
}
.team1{
  float: left;
  width: 33.33%;
}
.team1 img{
  float: left;
}
.team1 h1{
  font-size: 25px;
  color: #003568;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.team1 h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #cc0000;
  margin-top: 50px;
  margin-left: 150px;
}
.team1 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #A0A0A0;
  margin-top: 20px;
  margin-left: 150px;
}
.descrip h1{
  font-size: 40px;
  color: #003568;
  margin-bottom: 10px;
}
.descrip h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #A0A0A0;
  margin-bottom: 50px;
}
.team button{
  font-family: 'Montserrat', sans-serif;
  color: #cc0000;
  font-size: 15px;
  background: transparent;
  border: 0px solid;
  float: right;
  margin-top: 100px;
}
.border{
  border-top: 3px solid #A0A0A0;
  opacity: 0.2;
}
.footer {
    width: 960px;
    height: 10px;
    margin: 150px auto;
}
.footer h1{
    float: right;
    color: #A0A0A0;
    opacity: 0.6;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
.icons{
  margin: 30px auto;
  letter-spacing: 10px;
  height: 20px;
  text-decoration: none;
}
.icons a{
  text-decoration: none;
}
